
<ng-include src="'View/Partial/Navigations.html'"></ng-include>
<h2>Your cart</h2>
<div ng-controller="cartSummaryController">
    <div class="alert alert-warning" ng-show="cartData.length == 0">
        There are no products in your shopping cart.
        <a href="#/products" class="alert-link">Click here to return to the catalogue</a>
    </div>
    <div id="printable" ng-hide="cartData.length == 0">
        <table class="table">
            <thead>
                <tr>
                    <th>Quantity</th>
                    <th>Item</th>
                    <td class="text-left">Size</td>
                    <th class="text-right">Price</th>
                    <th class="text-right">Subtotal</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in cartData">
                    <td class="text-center">
                        <div class="btn-group-sm">
                            <input ng-disabled="item.count <= 100" size="2" ng-model="item.count"
                              />
                            <button class="btn btn-sm btn-primary" ng-click="addProductToCart(item,1)" ng-hide="item.count >= 100"> +</button>
                            <button class="btn btn-sm btn-success" ng-click="addProductToCart(item,-1)" ng-hide="item.count <= 1"> -</button> 
                           
                        </div>
                    </td>
                    <td class="text-left">{{item.ProductName}}</td>
                    <td class="text-left">{{item.Size}}</td>
                    <td class="text-right"> {{item.UnitPrice | currency:'৳'}}</td>
                    <td class="text-right">{{ (item.UnitPrice * item.count | currency:'৳')}}</td>
                    <td>
                        <button ng-click="remove(item.ProductID)"
                                class="btn btn-sm btn-warning">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="">
                    <td>Total Quantity :{{totalqty() }}</td>
                    <td></td>
                    <td colspan="2" class="text-right">Total:</td>
                    <td class="text-right">
                        {{total() | currency:'৳'}}
                    </td>
                </tr>
            </tfoot>
        </table>
     
        
        <div class="text-center">
            <a class="btn btn-primary" href="#/products">Continue shopping</a>
            <a class="btn btn-primary" href="" ng-click="loginstutes()">Place order now</a>



        </div>
    </div>
</div>