<ng-include src="'View/Partial/Navigations.html'"></ng-include>
<div class="content">
    <div class="support">
        <div class="support_desc">
            <h1>Support</h1>
            <p><span>24 hours | 7 days a week | 365 days a year</span></p>
            <p> It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
        </div>
      
        <div class="clear"></div>
    </div>
    <div class="container-fluid">
        <div class="col-sm-6">
            <div class="contact-form">
                <div class="form-group">
                    <h2>Contact Us</h2>

                    <div>
                        <span><label>NAME</label></span>
                        <span><input type="text" class="form-control" value="" ng-model="current.CustomerName"></span>
                    </div>
                    <div>
                        <span><label>E-MAIL</label></span>
                        <span><input type="text" class="form-control" value="" ng-model="current.CustomerEmail"></span>
                    </div>
                    <div>
                        <span><label>MOBILE.NO</label></span>
                        <span><input type="text" class="form-control" value="" ng-model="current.CustomerMobile"></span>
                    </div>
                    <div>
                        <span><label>Message</label></span>
                        <span><textarea class="form-control" rows="4" ng-model="current.message"> </textarea></span>
                    </div>
                    <br />
                    <div>
                        <span><input type="button" class="btn btn-primary btn-lg pull-right" value="SUBMIT" ng-click="Submit()"></span>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="contact_info">
                <h2>Find Us Here</h2>
                <div class="map">
                    <iframe width="100%" height="175" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d233668.38703692693!2d90.27923991057244!3d23.780573258035957!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755b8b087026b81%3A0x8fa563bbdd5904c2!2sDhaka+1000-1200%2C+Bangladesh!5e0!3m2!1sen!2s!4v1455104107028"></iframe><br><small><a href="https://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265" style="color:#666;text-align:left;font-size:12px">View Larger Map</a></small>
                </div>
            </div>
            <div class="company_address">
                <h2>Company Information :</h2>
                <p>Our Online Shop Site</p>
                <p>Dhaka</p>
                <p>Bangladesh</p>
                <p>Phone: +8801738009596</p>
                <p>Phone: +8801913655960</p>
                <p>Phone: +8801717744197</p>
                <p>Phone: +8801738009596</p>
                
                <p>Email: <span><a href="mailto:mroshid39@gmail.com">mroshid39@gmail.com</a></span></p>
                <p>Follow on: <span><a href="https://www.facebook.com/mamunur.roshid.773">Facebook</a></span>
            </div>
        </div>
    </div>
</div>