<ng-include src="'View/Partial/Navigations.html'"></ng-include>
<div>
    <h1>Frequently Asked Questions</h1>

    <div><h1>Why Our Online Shop?</h1></div>
    <p>  The best prices and a vast variety of goods.</p>
    <p>online purchase with no time restrictions.</p>
     <p>Payments in local currencies are accepted through local & international Debit/Credit Card, Cash on, bKash, PayPal.</p>
    <p>We collect all your products in our Country, thus making the shipping price much cheaper.</p>
    <p> Cheapest international shipping fees</p>


    <div><h1>How we're different?</h1></div>
    <p>We work with many brands  in Bangladesh and we store inventory. Working this way helps us keep prices low, and it means we can offer a variety of products every day.</p>
</div>
