<ng-include src="'View/Partial/Navigations.html'"></ng-include>
<div ng-controller="authCtrl">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h2> Forgot Your Password?</h2>
            <p class="alert alert-info"> Enter the e-mail address associated with your account. Click submit to have your password e-mailed to you.</p>
            <h3> Your E-Mail Address</h3>
            <form name="authForm">
                <div class="alert alert-danger" ng-show="error">
                    {{error}}
                </div>
                <div class="well well-lg">
                    <div class="form-group">
                        <label class="input-lg">E-Mail Address:</label>
                        <input name="" type="email" class="form-control input-lg" ng-model="email" required />
                    </div>
                </div>
                <div>
                    <a href="#/placeorder" class="btn btn-lg btn-primary pull-left">Back </a>
                    <button class="btn btn-lg btn-primary pull-right" ng-disabled="authForm.$invalid" ng-click="forgetemail(email)">Continue </button>
                </div>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>