<ng-include src="'View/Partial/Navigations.html'"></ng-include>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div>
            <h1>How to purchase?</h1>

            <div>
                <div><h3>1. <a href="#/register">Register</a>:(<a href="#/register">click here</a> to know how to register) </h3></div>
                <p>First you have to register on our website. You can start your registration by clicking on the top menu bar of the website.</p>
                <div>
                    <img src="../Content/images/Registration.png" class="img-responsive img-thumbnail" />
                </div>
            </div>
            <div>
                <div><h3>2. Choose your Product: </h3></div>
                <div>
                    <img src="../Content/images/chooseProduct.png" class="img-responsive img-thumbnail" />
                </div>
            </div>
            <div>
                <div><h3>3. Add to cart: </h3></div>
                <div>
                    <img src="../Content/images/Add To Cart.png" class="img-responsive img-thumbnail" />
                </div>
            </div>
            <div>
                <div><h3>4. Checkout: </h3></div>
                <div>
                    <img src="../Content/images/CheckOut.png" class="img-responsive img-thumbnail" />
                </div>
            </div>
            <div>
                <div><h3>5. LogIN: </h3></div>
                <div>
                    <img src="../Content/images/Login.png" class="img-responsive img-thumbnail" />
                </div>
            </div>
            <div>
                <div><h3>5. Payment and Confirmation:</h3></div>
                <div>
                    <img src="../Content/images/Payment.png" class="img-responsive img-thumbnail" />
                </div>
            </div>
            <div>
                <div><h3>.6 Order Submit:</h3></div>
                <div>
                    <img src="../Content/images/Submit Order.png" class="img-responsive img-thumbnail" />
                </div>
            </div>
            <br />

            <div>
                <div><h3>Have more questions? <a href="#/contact">Submit a request</a></h3></div>
            </div>


        </div>
    </div>
    <div class="col-md-2"></div>
</div>
