
    <div ng-controller="OrderSubmit">

    OrderSubmit
    <table>
        <tr>
            <td>"{{inv}}" /></td>


            <td>{{ orderDetail.OrderItems}}</td>

            <td>{{ orderDetail.OrderDate}}</td>

            <td>{{orderDetail.ProductSize}}</td>

            <td>{{ orderDetail.OrderAmount}}</td>

            <td>{{ orderDetail.ProductID}}</td>

            <td>{{ orderDetail.PaymantDetailsID}}</td>

            <td>{{orderDetail.CustomerID}}</td>
        </tr>

    </table>


        <button type="button" ng-click="Submitorder()">Submit Order</button>
       
</div>
