<style>
.affix {
      top: 0;
      width: 100%;
  }

  .affix + hr{
      padding-top: 70px;
  }
  </style>
<div class="row">
    <div class="col-sm-12">
        <button class="navbar-toggle btn-block btn-primary" data-toggle="collapse" data-target=".nav-collapse">
            <span style="cursor:pointer" ng-click="selectCategory()" class=" active nav  navbar-nav btn-block">
                <span class="glyphicon glyphicon-list-alt active-icon "></span> Category
            </span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
</div>

<div class="row ">

    <div class="col-md-3 col-sm-3">
        
        <div class="list-group collapse navbar-collapse nav-collapse">

            <span style="cursor:pointer" ng-click="selectCategory()" class="visible-md active nav  navbar-nav list-group-item btn-block">
                <span class="glyphicon glyphicon-list-alt active-icon "> Category</span>
            </span>
            <span ng-repeat="item in productCategory" style="cursor:pointer"
                  ng-click="selectCategory(item.Category)" ng-class="getCategoryClass(item.Category)" class="nav navbar-nav list-group-item btn-block">
                {{item.Category}}<span class="glyphicon glyphicon-chevron-right pull-right"></span>
            </span>
        </div>
    </div>
    <div class="col-md-9">
        <div class="col-md-8" >
            <ng-include src="'View/Partial/SearchForm.html'"></ng-include>
        </div>
        <div class="col-md-4 pull-left ">
            <cart-summary />
            <p><div class="go-top btn btn-info pull-right affix " style="margin-top:650px;margin-left:auto" data-offset-bottom="0">Top<span class="glyphicon glyphicon-chevron-up"></span></div> </p>
        </div>
        <ng-include src="'View/SlideShow.html'" />
    </div>
   
</div>
<hr style="height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;width:80%" />
<div class="container well">
    <div class="row">
        <div class="col-md-3 visible-md">
            <div class="box2">
                <ul class="list1">
                    <i class="lock"> </i>
                    <li class="list1_right"><p>Upto 5% Reward on your shipping</p></li>
                    <div class="clearfix"> </div>
                </ul>
            </div>
        </div>
        <div class="col-md-3 visible-md">
            <div class="box3">
                <ul class="list1">
                    <i class="clock1"> </i>
                    <li class="list1_right wrap"><p>Easy Extended Returned</p></li>
                    <div class="clearfix"> </div>
                </ul>

            </div>
        </div>
        <div class="col-md-3 visible-md">
            <div class="box4">
                <ul class="list1">
                    <i class="vehicle"> </i>
                    <li class="list1_right wrap "><p>Free Shipping on order over 99 $</p></li>
                    <div class="clearfix"> </div>
                </ul>
            </div>
        </div>
        <div class="col-md-3 visible-md">
            <div class="box5">
                <ul class="list1">
                    <i class="dollar"> </i>
                    <li class="list1_right wrap"><p>Delivery Schedule Spread Cheer Time</p></li>
                    <div class="clearfix"> </div>
                </ul>
            </div>
        </div>
    </div>
</div>
        <div class="container-fluid ">
            <div class="row" >
                <div ng-repeat="item in productlist |filter:categoryFilterFn">
                    <div class="col-sm-4 col-md-3" style="max-height:300px" ng-mousemove="hoverin()" ng-mouseleave="hoverout()">
                        <div class="thumbnail prolist prohover">
                            <a href="#/ProductDetail" data-toggle="" ng-click="productdetail(item)">
                                <img src="Content/images/p{{item.ProductID}}.jpg" class="img-responsive wrap"  style="max-height:150px"/>
                                <div class="caption">
                                    <h5>{{item.ProductName}}</h5>
                                </div>
                                <p class="btn btn-default btn-success" ng-show="productprice">{{item.UnitPrice | currency:'৳'}}</p>
                            </a>
                            <span class="btn btn-default btn-primary " ng-click="addProductToCart(item,1)" role="button"><span class="glyphicon glyphicon-shopping-cart "></span> Add Cart</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

