<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/6.0.16/bootstrap-slider.min.js"></script>
<div class="row">
    <div class="col-md-3">
        <ng-include src="'Partial/Category.html'"></ng-include>
    </div>
    <div class="col-md-6">
        <form class="navbar-form navbar-left center-block" role="search">
            <div class="input-group">
                <input type="text" size="50" class="form-control search-query input-lg col-xs-5" placeholder="Search" ng-model="searchText" id="inputlg" aria-label="...">
                <div class="input-group-btn">
                    <a href="#/search" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-search"></span></a>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-3">
        <cart-summary />
    </div>
    <div class="col-md-9">
        <div class="container-fluid ">
            <div class="row">
                <div ng-repeat="item in productlist |filter: searchText | filter: categoryFilterFn">
                    <div class="col-sm-4 col-md-3" style="max-height:300px" ng-mousemove="hoverin()" ng-mouseleave="hoverout()">
                        <div class="thumbnail prolist prohover">
                            <a href="#/ProductDetail" data-toggle="" ng-click="productdetail(item)">
                                <img src="Content/images/p{{item.ProductID}}.jpg" class="img-responsive wrap" style="max-height:150px" />
                                <div class="caption">
                                    <h5>{{item.ProductName}}</h5>
                                </div>
                                <p class="btn btn-default btn-success" ng-show="productprice">{{item.UnitPrice | currency:' ৳ '}}</p>
                            </a>
                            <span class="btn btn-default btn-primary " ng-click="addProductToCart(item,1)" role="button"><span class="glyphicon glyphicon-shopping-cart "></span> Add Cart</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
    <div class="col-md-3 ">
        <div class="list-group ">
            <a href="" ng-click="selectCategory()" class="list-group-item active">ALL Category</a>
            <a href="" style="text-align:center" ng-repeat="item in productCategory | orderBy:'Category'"
               ng-click="selectCategory(item.Category)" ng-class="getCategoryClass(item.Category)" class=" list-group-item">
                <span class="glyphicon glyphicon-chevron-left pull-left"></span>{{item.Category}}
            </a>
        </div>
    </div>
    </div>
