<!--<link href="Admin/css/style.css" rel="stylesheet" />
<link href="Admin/css/lines.css" rel="stylesheet" />
<link href="Admin/css/font-awesome.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
<link href="Admin/css/custom.css" rel="stylesheet" />-->

<div id="wrapper">
    <!-- Navigation -->
    <nav class="top1 navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">OnlineShop Admin Panel</a>
        </div>

        <form class="navbar-form navbar-right">
            <a href="login.html" class="glyphicon glyphicon-user">Login</a>
            <input type="text" class="form-control" value="Search..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search...';}">
        </form>
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="index.html"><i class="fa fa-dashboard fa-fw nav_icon"></i>Dashboard</a>
                    </li>
                    <li>
                        <a href="#"><i class="glyphicon glyphicon-pencil"></i>Update Products<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#/product">Products</a>
                            </li>
                            <li>
                                <a href="#/suplier">Supllaires</a>
                            </li>
                            <li>
                                <a href="#/category">Category</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-table nav_icon"></i>View Details<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">Orders</a>
                            </li>
                            <li>
                                <a href="#">Supllaires</a>
                            </li>
                            <li>
                                <a href="#">Category</a>
                            </li>
                            <li>
                                <a href="#">Daily Orders</a>
                            </li>
                        </ul>

                    </li>
                </ul>
            </div>

        </div>

    </nav>
    <div ng-controller="productCtrlAdmin">
        <h2>{{getHead()}}</h2>
        <div class="well well-lg form-horizontal">
            <div class="form-group">
                <label class="col-xs-3 control-label input-lg">ProductName :</label>
                <div class="col-xs-5">
                    <input type="text" class="form-control input-lg" name="ProductName" ng-model="current.ProductName" required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label input-lg">Unit Price :</label>
                <div class="col-xs-5">
                    <input type="text" class="form-control input-lg" name="UnitPrice" ng-model="current.UnitPrice" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label input-lg">Description  :</label>
                <div class="col-xs-5">
                    <input type="text" class="form-control input-lg" name="Description" ng-model="current.Description" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label input-lg">Product Qty :</label>
                <div class="col-xs-5">
                    <input type="text" class="form-control input-lg" name="ProductQty" ng-model="current.ProductQty" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label input-lg">Image :</label>
                <div class="col-xs-5">
                    <input type="file" class="form-control input-lg" name="Image" ng-model="current.Image" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label input-lg">Category :</label>
                <div class="col-xs-5">
                    <select class="form-control" name="repeatSelect" id="repeatSelect" ng-model="current.CategoryID">
                        <option ng-repeat="cat in productCategory" value="{{cat.CategoryID}}">
                            {{cat.Category}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label input-lg">Supliers Name :</label>
                <div class="col-xs-5">
                    <select class="form-control" name="repeatSelect" id="repeatSelect" ng-model="current.SupID">
                        <option ng-repeat="sup in suppliers" value="{{sup.SupID}}">
                            {{sup.SupName}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-5">
                    <button class="btn btn-primary" ng-hide="isEdit" ng-disabled="empfrm.$invalid" ng-click="insert()">Insert</button>
                    <button class="btn btn-primary" ng-show="isEdit" ng-disabled="empfrm.$invalid" ng-click="update()">Update</button>
                </div>
            </div>
        </div>


        <h2>List of all Products</h2><hr />
        <input class="form-control input-lg col-10" type="text" placeholder="search" ng-model="prodouctsearch" />
        <span class="glyphicon glyphicon-search"></span>

        <table border="1" style="width:100%;" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th ng-click="predicate='ProductID';reverse=!reverse">ID </th>
                    <th>ProductName</th>
                    <th>UnitPrice</th>
                    <th>Description</th>
                    <th>ProductQty</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody ng-repeat="p in productlist | filter: prodouctsearch | orderBy: predicate: reverse">
                <tr ng-click="edit(p)">
                    <td>{{p.ProductID}}</td>
                    <td>{{p.ProductName}}</td>
                    <td>{{p.UnitPrice}}</td>
                    <td>{{p.Description}}</td>
                    <td>{{p.ProductQty}}</td>
                    <td>{{p.Image}}</td>
                    <td>
                        <button type="button" class="btn btn-default" ng-click="edit(p)">Edit</button>
                        <button type="button" class="btn btn-default" ng-click="delete(p)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>


    </div>

