<div class="row well well-lg">
    <div class="col-md-4">
        <input type="datetime" id="datepicker-13" ng-model="date" />
    </div>
</div>

<script>
        $(function () {
            $("#datepicker-13").datepicker();
            //$("#datepicker-13").datepicker("show");
        });
</script>


<div ng-controller="orderCtrlAdmin">
    <table border="1" style="width:100%;" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th ng-click="predicate='ProductID';reverse=!reverse">ID </th>
                <th>ProductName</th>
                <th>UnitPrice</th>
                <th>Description</th>
                <th>ProductQty</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody ng-repeat="p in productlist | filter: prodouctsearch | orderBy: predicate: reverse">
            <tr ng-click="edit(p)">
                <td>{{p.ProductID}}</td>
                <td>{{p.ProductName}}</td>
                <td>{{p.UnitPrice}}</td>
                <td>{{p.Description}}</td>
                <td>{{p.ProductQty}}</td>
                <td>{{p.Image}}</td>
                <td>
                    <button type="button" class="btn btn-default" ng-click="edit(p)">Edit</button>
                    <button type="button" class="btn btn-default" ng-click="delete(p)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>