<link href="Admin/css/style.css" rel="stylesheet" />
<link href="Admin/css/lines.css" rel="stylesheet" />
<link href="Admin/css/font-awesome.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
<link href="Admin/css/custom.css" rel="stylesheet" />


<body ng-controller="staffCtrl">

    <h>List of all Staffs</h><hr />
    <table>
        <tr>
            <td>
                Search By Id:
            </td>
            <td><input id="Text1" type="text" ng-model="Search.SId" /></td>
        </tr>
        <tr>
            <td>Search By Name: </td>
            <td><input id="Text1" type="text" ng-model="Search.SName" /></td>
        </tr>
        <tr>
            <td>
                Search :
            </td>
            <td>
                <input id="Text1" type="text" ng-model="Search" />
            </td>
        </tr>
    </table>

    <table border="1" style="width:100%;" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th ng-click="predicate='SId';reverse=!reverse">ID</th>

                <th>Name</th>
                <th>Status</th>
                <th>Salary</th>
                <th>Parmanent Address</th>
                <th>Present Address</th>
                <th>Mail</th>
                <th>Password</th>
                <th>Phone</th>

            </tr>
        </thead>
        <tbody ng-repeat="c in staffs | filter:Search | orderBy: predicate: reverse">
            <tr ng-click="edit(c)">
                <td>{{c.SId}}</td>
                <td>{{c.SName}}</td>
                <td>{{c.SStatus}}</td>
                <td>{{c.SSalary}}</td>
                <td>{{c.SParmanentAddress}}</td>
                <td>{{c.SPresentAddress}}</td>
                <td>{{c.SMail}}</td>
                <td>{{c.SPassword}}</td>
                <td>{{c.StaffPhone}}</td>
                <td>
                    <button type="button" class="btn btn-default" ng-click="edit(c)">Edit</button>
                    <button type="button" class="btn btn-default" ng-click="delete(c)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

    <h2>{{getHead()}}</h2>
    <fieldset>
        <!-- <legend>{{getHead()}}</legend>-->
        <table style="width:70%;">


            <tr>
                <td><label class="control-label">Name</label></td>
                <td>
                    <input type="text" class="form-control" name="SName" ng-model="current.SName" required />
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Status</label></td>
                <td>
                    <input type="text" class="form-control" name="SStatus" ng-model="current.SStatus" />
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Salary</label></td>
                <td>
                    <input type="text" class="form-control" name="SSalary" ng-model="current.SSalary" />
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Parmanent Address</label></td>
                <td>
                    <input type="text" class="form-control" name="SParmanentAddress" ng-model="current.SParmanentAddress" />
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Present Address</label></td>
                <td>
                    <input type="text" class="form-control" name="SPresentAddress" ng-model="current.SPresentAddress" />
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Mail</label></td>
                <td>
                    <input type="text" class="form-control" name="SMail" ng-model="current.SMail" />
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Password</label></td>
                <td>
                    <input type="text" class="form-control" name="SPassword" ng-model="current.SPassword" />
                </td>
            </tr>
            <tr>
                <td><label class="control-label">Phone</label></td>
                <td>
                    <input type="text" class="form-control" name="StaffPhone" ng-model="current.StaffPhone" />
                </td>
            </tr>
            <tr>

                <td colspan="2">
                    <button class="btn btn-primary" ng-hide="isEdit" ng-disabled="empfrm.$invalid" ng-click="insert()">Insert</button>
                    <button class="btn btn-primary" ng-show="isEdit" ng-disabled="empfrm.$invalid" ng-click="update()">Update</button>
                </td>
            </tr>
        </table>
    </fieldset>
</body>

