<!DOCTYPE html>
<html ng-app="mainapp">
<head>
    <title>Online Shopping Store</title>
    <link rel="shortcut icon" href="Content/images/Dusk.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Modern Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link href="Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="Content/maincss.css" rel="stylesheet" />
    <link href="Content/ngToast.min.css" rel="stylesheet" />
    <link href="Content/ngToast-animations.min.css" rel="stylesheet" />
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/jquery-2.2.0.min.js"></script>
    <script src="Scripts/angular-animate.min.js"></script>
    <script src="Scripts/angular-route.min.js"></script>
    <script src="Scripts/angular-sanitize.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/ngToast.js"></script>
    <script src="Scripts/validator.min.js"></script>
    <script src="Scripts/MyScript.js"></script>
    <script src="Controller/main.js"></script>
    <script src="Controller/ProductListCrlt.js"></script>
    <script src="Controller/cart.js"></script>
    <script src="Controller/checkoutControllers.js"></script>
    <script src="Controller/LogIn.js"></script>
    <script src="Controller/Customers.js"></script>    
    <script src="Controller/OrderSumit.js"></script>
    <script src="Controller/Increments.js"></script>
    <script src="Admin/Admin.js"></script>
    <script src="Admin/js/metisMenu.min.js"></script>
    <script src="Admin/js/custom.js"></script>
    <script src="Admin/js/d3.v3.js"></script>
    <script src="Admin/js/rickshaw.js"></script>
    <script type="text/css">
        .ngFade.ng-enter{transitation: 0.1s linear all; opacity:0};
        .ngFade.ng-enter-active{opacity: 1};
    </script>
    <script src="https://npmcdn.com/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <link rel="stylesheet" href="https://npmcdn.com/angular-toastr/dist/angular-toastr.css" />
    <style>
          body {
      position: relative; 
  }
          .affix {
      top:0;
      width: 100%;
      z-index: 9999 !important;
  }
           .navbar {
      margin-bottom: 0px;
  }

  .affix ~ .container-fluid {
     position: relative;
    
  }
    </style>
</head>

<body ng-controller="productCrlt" style="margin-left:3%; margin-right:3%" data-spy="scroll" data-target=".navbar" data-offset="50">
    <style>
        /* Note: Try to remove the following lines to see the effect of CSS positioning */
    </style>
    <div ng-controller="productListCtrl">
        <header>
            <nav class="navbar navbar-default navbar-static-top affix">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
                        <a ng-click="home()" href="#"><img class="img-responsive " style="max-width:100px;max-width:100px;margin-top:2%" src="Content/images/Dusk.png" /></a>
                        <ul class="nav navbar-nav navbar-right" ng-controller="authCtrl">
                            <li><a ng-click="home()" href="#">Home </a></li>
                            <li><a href="#/contact">Contact Us</a></li>
                            <li><a href="#/about">About us </a></li>
                            <li class="dropdown" ng-show="login">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="">Login <span class="glyphicon glyphicon-log-in"></span></a>
                                <div class="dropdown-menu">
                                    <form id="formLogin" name="authForm" class="form container-fluid" novalidate>
                                        <div class="form-group">
                                            <label for="usr">Name:</label>
                                            <input type="text" class="form-control" id="usr" ng-model="username" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="pwd">Password:</label>
                                            <input type="password" class="form-control" id="pwd" ng-model="password" required>
                                        </div>
                                        <span onclick="return false" id=" btnlogin" style="cursor:pointer;" class="btn-block btn-primary" ng-click="authenticatenav(username, password)"
                                              ng-disabled="authForm.$invalid">
                                            Login
                                        </span>
                                    </form>
                                    <div class="container-fluid">
                                        <br>
                                        <a class="small " href="#/fogetpass">Forgot password?</a>
                                        <a class="small" href="#/register">Registration</a>
                                    </div>
                                </div>
                            </li>
                            <li class="dropdown" ng-hide="login">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                    {{CustomerName}}
                                    <div class="dropdown-menu">
                                        <div class="well"><a href="#/custaccount">Your Account</a> </div>
                                        <div>
                                            <span style="cursor:pointer;" ng-click="logout()" class="btn btn-primary">  LogOut</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div>
        </div>
        <nav>
            <div class="alert alert-success affix" ng-show="productmessage != null">{{productmessage}}</div>
        </nav>
        <main>
            <div ng-view class="ngFade"></div>

        </main>

        <footer>
            <nav class="navbar navbar-default navbar-static-top">
                <div class="container-fluid wrapper well">
                    <div class="">
                        <div>
                            <div class="col-sm-3">
                                <h4>Information</h4>
                                <ul>
                                    <li><a href="#/contact"><span>Contact Us</span></a></li>
                                    <li><a href="#/sitemap"><span>Site Map</span></a></li>
                                </ul>
                            </div>
                            <div class="col-sm-3">
                                <h4>Why buy from us</h4>
                                <ul>
                                    <li><a href="#/howtoorder">How to Order</a></li>
                                    <li><a href="#/search"><span>Advanced Search</span></a></li>
                                    <li><a href="#/faq">FAQ</a></li>

                                </ul>
                            </div>
                            <div class="col-sm-3">
                                <h4>Customer Support</h4>
                                <ul>
                                    <li><a href="#/login">Sign In</a></li>
                                    <li><a href="#/registraton">Create Account</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-3">
                                <h4>Tools & Social Media </h4>
                                <ul>
                                    <li><a href="https://www.facebook.com/mamunur.roshid.773">Facebook</a></li>
                                    <li><a href="https://plus.google.com/u/0/">Google+</a></li>
                                </ul>
                                <p><div class="go-top btn btn-default pull-left affix " style="margin-top:650px;margin-left:3%;max-width:50px" data-offset-bottom="0"><span class="glyphicon glyphicon-chevron-up"></span></div> </p>

                            </div>

                        </div>
                    </div>
                </div>
            </nav>
            <nav class="navbar navbar-default navbar-static-top">
                <div class="container-fluid wrapper well">
                    <div class="col-lg-6">
                        <div class="">
                            <h2>About Us</h2>
                            <br />
                            <p class="wrap">
                                Our online shop is a retailer obsessed with bringing latest products,
                                i.e. fashions, clothes, shoes, electronic items, etc. with all
                                at incredible prices. We feature an always-fresh curated collection for the whole
                                family, including clothing, home décor, toys, gifts and more more.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="">
                            <h2>Location</h2>
                            <br />
                            <p class="wrap">
                                Support: +8801912958211

                                Corporate Office: Dhaka, Bangladesh E-mail: saulhamid89@gmail.com

                                Head Office: Dhaka, Bangladesh - Mob: +8801912958211

                            </p>
                        </div>
                    </div>

                </div>
            </nav>


            <div class="copy_right wrap" style="text-align:center">
                <p>&copy; 2016 Our Shopping Store. All Rights Reserved |  A concern of IDB-BISEW. |<a href="#/adminlogin">Admin</a></p>
            </div>




            <div style="height:50px;width:100%;">
            </div>
        </footer>
    </div>
</body>

</html>
