
<ng-include src="'View/Partial/Navigations.html'"></ng-include>

<div ng-controller="authCtrl">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="alert alert-danger" ng-show="error">
                    {{error}}
            </div>
            <h2> Forgot Your Password?</h2>
            <p class="alert alert-info"> Enter the e-mail address associated with your account. Click submit to have your password e-mailed to you.</p>
            <h3> Your E-Mail Address</h3>
            <form name="authForm" class="form-horizontal">
                <div class="well well-lg">
                    <div class="form-group">
                        <label class="col-xs-3 control-label input-lg">Password :</label>
                        <div class="col-xs-5" ng-class="{ 'has-error' : authForm.txtPassword.$invalid && (authForm.txtPassword.$dirty || submitted)}">
                            <input type="password" placeholder="Enter your Password" class="form-control input-lg" name="txtPassword" ng-model="CustomerPassword" required />
                            <p ng-show="authForm.txtPassword.$error.required && (authForm.txtPassword.$dirty || submitted)" class="help-block">Password is required.</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label input-lg">Confirm Password :</label>
                        <div class="col-xs-5" ng-class="{ 'has-error' : authForm.confirmPassword.$invalid && (authForm.ContPassword.$dirty || submitted)}">
                            <input type="Password" name="confirmPassword" class="form-control input-lg" ng-model="confirmPassword" placeholder="Confirm Your Password" ng-compare="txtPassword" ng-required="true">
                            <p ng-show="authForm.confirmPassword.$error.required && (authForm.confirmPassword.$dirty || submitted)" class="help-block">Your confirm password is required.</p>
                            <p ng-show="authForm.confirmPassword.$error.compare && (authForm.confirmPassword.$dirty || submitted)" class="help-block">Confirm password doesnot match.</p>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary btn-lg" ng-click="updatepassword(CustomerPassword)" ng-disabled="authForm.$invalid"> Log In</button>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>

</div>